.vscode
.idea
.DS_Store
*.esm.json
*.js
!webpack.config.js
!src/*-hooks.js
!src/approov-sdk-add-approov.js
!src/approov-sdk-copy-config.js
!src/approov-sdk-register-app.js
!src/helpers.js
src/**/*.map
*.log
*.ngsummary.json
*.metadata.json
*.ngfactory.d.ts
src/**/*.d.ts
!src/references.d.ts
!src/scripts/*.js
!src/platforms/ios/typings/*.d.ts
!src/platforms/android/typings/*.d.ts
!seed-tests/*.js
seed-tests/seed-copy/**/*.*
seed-tests/seed-copy-new-git-repo/**/*.*
!demo/karma.conf.js
!demo/app/tests/*.js
demo/*.d.ts
!demo/references.d.ts
demo/lib
demo/platforms
node_modules
publish/src
publish/package
